<div class="container justify-content-center align-items-center" style="padding-top: 80px;">
    <div class="row">
        
        <h2><b>An unexpected server error has occured.</b> Click <a ng-href="/#!">here</a> to return home.</h2>
    </div>
</div>