<div class="container justify-content-center align-items-center" style="padding-top: 80px;">
    <div class="col-12 justify-content-center align-items-center">
        <img class="mx-auto d-block" ng-show="$ctrl.is_working" src="/static/img/spinner.gif">
    </div>
    <div class="alert alert-danger col-12" role="alert" ng-repeat="error in $ctrl.errors">
        <strong>Error</strong> - {{error}}
    </div>
    <div class="row">
        
        <form class="col-12" ng-submit="$ctrl.createEventTypeSubmit()" ng-hide="$ctrl.is_working">
            <div class="form-group">
                <label for="nameInput">Event Name</label>
                <input type="text" class="form-control" id="nameInput" placeholder="Example Event" name="name" ng-model="$ctrl.neweventtype.name" value="{{$ctrl.type.name}}" focus-if required>
            </div>

            <div class="form-group">
                <label for="descriptionInput">Description</label>
                <input type="text" class="form-control" id="descriptionInput" placeholder="A thing that happens periodically" name="description" ng-model="$ctrl.neweventtype.description" value="{{$ctrl.type.description}}">
            </div>

            <div class="form-group">
                <label for="keywordInput">Priority</label>
                <input type="number" class="form-control" id="priorityInput" placeholder="10" name="priority" ng-model="$ctrl.neweventtype.priority" value="{{$ctrl.type.priority}}">
            </div>

            <div class="form-check form-group">
                <input type="checkbox" class="form-check-input" id="has_data" ng-model="$ctrl.neweventtype.has_data" checked="">
                <label class="form-check-label" for="has_data">Tracks Data</label>
            </div>

            <div class="form-group" ng-show="$ctrl.neweventtype.has_data">
                <label for="dataunitInput">Data Description</label>
                <input type="text" class="form-control" id="dataunitInput" placeholder="Name of data tracked" name="data_unit" ng-model="$ctrl.neweventtype.data_unit" value="{{$ctrl.type.data_unit}}">
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary btn-block">Create</button>
                <button class="btn btn-outline-secondary btn-block" ng-click="$ctrl.goList()">Back</button>
            </div>
        </form>
    </div>
</div>