<div class="container justify-content-center align-items-center" style="padding-top: 80px;">
    <div class="col-12 justify-content-center align-items-center">
        <img class="mx-auto d-block" ng-show="$ctrl.is_working" src="/static/img/spinner.gif">
    </div>
    <div class="alert alert-danger col-12" role="alert" ng-repeat="error in $ctrl.errors">
        <strong>Error</strong> - {{error}}
    </div>
    <div class="row" ng-hide="$ctrl.is_working">
        <h3>{{$ctrl.type.name}}</h3>

        <form class="col-12" ng-submit="$ctrl.shareSubmit()" ng-hide="$ctrl.is_working">
            <div class="form-group">
                <label for="nameInput">User</label>
                <select class="form-control" id="userInput" name="user_id" ng-model="$ctrl.newshare.user_id" required>
                    <option ng-repeat="user in $ctrl.share_users" value={{user.id}}>{{user.name}}</option>
                </select>
            </div>

            <div class="form-check form-group">
                <input type="checkbox" class="form-check-input" id="can_write" ng-model="$ctrl.newshare.can_write" checked="">
                <label class="form-check-label" for="can_write">Allow user to add new events</label>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary btn-block">Share</button>
                <button class="btn btn-outline-secondary btn-block" ng-click="$ctrl.goTypeview()">Back</button>
            </div>

        </form>

        <table class="table">
            <thead>
                <tr>
                    <th class="col-6" scope="col">User</th>
                    <th class="col-4" scope="col">Can Add Events</th>
                    <th scope="col-2" scope="col"> </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="share in $ctrl.shares  | orderBy: '-id'">
                    <td>{{$ctrl.get_user_info(share.user_id)}}</td>
                    <td>{{share.can_write|checkmark}}</td>
                    <td><a class="float-right" ng-click="$ctrl.deleteShareSubmit(share.id)" href=""><i class="fa fa-times"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>