<div class="container justify-content-center align-items-center" style="padding-top: 80px;">
    <div class="col-12 justify-content-center align-items-center">
        <img class="mx-auto d-block" ng-show="$ctrl.is_working" src="/static/img/spinner.gif">
    </div>
    <div class="alert alert-danger col-12" role="alert" ng-repeat="error in $ctrl.errors">
        <strong>Error</strong> - {{error}}
    </div>
    <div class="row" ng-hide="$ctrl.is_working">
        <h3>{{$ctrl.type.name}}</h3>
    </div>
    <div class="row" ng-hide="$ctrl.is_working">
        <div id="eventHistoryChart" style="width: 100vw;height:400px;margin: 0 auto;"></div>
    </div>
    <div class="row" ng-hide="$ctrl.is_working">
        <input class="form-control" id="eventSearchInput" placeholder="Filter events..." ng-model="$ctrl.eventSearch" focus-if>

        <table class="table">
            <thead>
                <tr>
                    <th class="col-10" scope="col" ng-hide="$ctrl.type.has_data">Time</th>
                    <th class="col-5" scope="col" ng-show="$ctrl.type.has_data">Time</th>
                    <th class="col-5" scope="col" ng-show="$ctrl.type.has_data">Data</th>
                    <th scope="col-2"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="event in $ctrl.events  | filter:$ctrl.eventSearch | orderBy: '-time'">
                    <td ng-hide="$ctrl.type.has_data">{{event.time}}</td>
                    <td ng-show="$ctrl.type.has_data">{{event.time}}</td>
                    <td ng-show="$ctrl.type.has_data">{{event.data}}</td>
                    <td><a class="float-right" ng-click="$ctrl.deleteEvent(event.id)" href=""><i class="fa fa-times"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>