<div class="container justify-content-center align-items-center" style="padding-top: 80px;">
    <div class="alert alert-danger col-12" role="alert" ng-repeat="error in $ctrl.errors">
        <strong>Error</strong> - {{error}}
    </div>

    <div class="row">
        <img class="mx-auto d-block" ng-show="$ctrl.is_working" src="/static/img/spinner.gif">
    </div>

    <div class="row" ng-hide="$ctrl.is_working" ng-repeat="eventtype in $ctrl.types | orderBy: '-priority'" >
        <div class="card mb-3" style="width: 100%;">
            <h5 class="card-header"><a href="/#!/types/{{eventtype.id}}/dash">{{eventtype.name}}</a> <a class="float-right" href="/#!/types/{{eventtype.id}}"><i class="fa fa-cog"></i></a></h5>
            <div class="card-body">
                <p class="card-text">{{eventtype.description}}</p>
                <form class="col-12" ng-submit="$ctrl.createEventOccurenceSubmit(eventtype.id)">
                    <input type="hidden" ng-model="$ctrl.newevents[eventtype.id].type" value="{{eventtype.id}}">
                    <div class="form-group" ng-show="eventtype.has_data">
                        <input type="number" class="form-control" id="dataInput_{{eventtype.id}}" name="data" ng-model="$ctrl.newevents[eventtype.id].data" placeholder="{{eventtype.data_unit}}">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-outline-primary btn-block" ng-disabled="$ctrl.is_event_working[eventtype.id]"> {{$ctrl.is_event_working[eventtype.id] ? 'Registering Event...' : 'Event Occurence'}}</button>
                    </div>
                    <div class="alert alert-danger col-12" role="alert" ng-repeat="error in $ctrl.event_errors[eventtype.id]">
                        <strong>Error</strong> - {{error}}
                    </div>
                    <div class="alert alert-success alert-dismissible col-12" role="alert" ng-repeat="success in $ctrl.event_successes[eventtype.id]">
                        <strong>Success</strong> - {{success}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <a class="btn btn-outline-primary btn-block" href="#!/types/new">New Event Type</a>
    </div>
</div>