#mainInput {
    width: 410px;
    margin: 0 auto;
    background-color: var(--gray-dark);
    color: var(--white);
    font-size: 1.5em;
}

#mainRow {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;    
    width: 90%;
    max-width: 410px;
    margin: 0 auto;
    transform: translateY(-100px);
    text-align: center;
}

#shortcutList {
    width: 410px;
    margin: 0 auto;
}

#errorList {
    width: 410px;
    margin: 0 auto;
}