<!DOCTYPE html>
<html ng-app="eventsApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>__events{{title}}</title>
        
        <link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular.min.js" integrity="sha256-QRJz3b0/ZZC4ilKmBRRjY0MgnVhQ+RR1tpWLYaRRjSo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.5/angular-route.min.js" integrity="sha256-PQfkC+TI/HZv0O9JbmrLmPyhgOT2hry24vA5yAV59zY=" crossorigin="anonymous"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        
        <!-- From https://rawgit.com/hiebj/ng-focus-if/master/focusIf.min.js-->
        <script src="{{ url_for('static', filename='js/focusIf.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/theme-select.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.module.js') }}"></script>
        <script src="{{ url_for('static', filename='js/eventtype-create.module.js') }}"></script>
        <script src="{{ url_for('static', filename='js/eventtype-view.module.js') }}"></script>
        <script src="{{ url_for('static', filename='js/eventtype-dash.module.js') }}"></script>
        <script src="{{ url_for('static', filename='js/eventtype-sharing.module.js') }}"></script>
        <script src="{{ url_for('static', filename='js/error-404.module.js') }}"></script>
        <script src="{{ url_for('static', filename='js/error-403.module.js') }}"></script>
        <script src="{{ url_for('static', filename='js/error-500.module.js') }}"></script>

    </head>
    <body>
        {% raw %}
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="#!/"><b>__events</b>{{title}}</a>

                <!--
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#startToggler" aria-controls="startToggler" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div id="startToggler" class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/#!/shortcuts"><i class="fa fa-cog"></i></a>
                        </li>
                    </ul>
                </div>
                -->
            </div>
        </nav>
        <div ng-view></div>
        {% endraw %}
    </body>
</html>